@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${VITE_FONT_AWESOME_API_KEY}

#TODO needs environment variables loaded in production

#npx dotenv -- npm install --save '@awesome.me/kit-3e381cd6aa@latest'
#npx dotenv -- npm update '@awesome.me/kit-3e381cd6aa'