.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.menu {
  height: 100%;
  width: 26%;
  background: #403f3f;
}

.video-title {
  padding: 10px 0px 10px 40px;
  border-bottom: 1px solid white;
}

.video-title:hover {
  background: #5c656d;
}

.video-panel {
  height: 100%;
  width: 74%;
  background: #74747d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  border-radius: 3px;
  width: 80%;
  height: auto;
  box-shadow: 0 6px 30px -2px #0000004a;
}


