body {
  background: rgb(5 5 19);
  position: relative;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #24277569 1%,
    rgb(79 17 17 / 24%) 100%
  );
}

.videoPlayerModal_centeringContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000e0;
  z-index: 15;
  cursor: pointer;
}

.video_player_modal {
  border-radius: 25px;
  width: 75%;
  height: 75%;
  object-fit: cover;
  cursor: pointer;
  z-index: 20;
}

.video_player_modal:focus {
  outline: none;
}

.videoPlayerModal_OnBlurContainer {
  width: 100%;
  height: 100%;
  z-index: 16;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.videoPlayerModal_exitButton {
  position: absolute;
  top: 6%;
  right: 8%;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s linear;
}

.videoPlayerModal_exitButton:hover {
  transform: scale(1.2);
}

button {
  font-size: 16px;
}

input.submit {
  max-width: 39%;
  transition: background 0.2s linear;
  margin-top: 4px;
  /* border: 1px solid #858585; */
  border-radius: 2px;
  /* background: transparent; */
  /* background: #31318f; */
  background: #438fb870;
  border: 1px solid white;
}

input.submit:hover {
  background: #9a7eaa80;
  background: transparent;
}

.link-spacing {
  margin: 0 9px;
}

button.enter-site-btn {
  background: grey;
  font-size: 20px;
  cursor: pointer;
  margin-left: 100px;
  margin-top: 100px;
  position: relative;
  z-index: 7;
}

.login-btn {
  z-index: 5;
}

.login-btn:hover {
  cursor: pointer;
}

button.enter-site-btn:hover {
  cursor: pointer;
}

.wrapper {
  width: 100vw;
  height: 89%;
  display: flex;
  position: absolute;
  top: 11%;
  overflow-y: hidden;
}

.radial-gradient-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  opacity: 90%;
  pointer-events: none;
}

.radial-gradient-dimension {
  width: 47%;
  height: 91%;
}

.radial-gradient.one {
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #0419c024 1%,
    rgb(2 2 15 p 0%) 100%
  );
  position: absolute;
  top: 50%;
  right: 37%;
}
.radial-gradient.two {
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #4c482d3b 1%,
    rgb(2 2 15 / 0%) 100%
  );

  position: absolute;
  top: -10%;
  left: 0%;
}
.radial-gradient.three {
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #4c2d433b 1%,
    rgb(2 2 15 / 0%) 100%
  );
  position: absolute;
  top: 10%;
  right: 10%;
}
.radial-gradient.four {
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #c6590a69 1%,
    rgb(2 2 15 / 0%) 100%
  );
  position: absolute;
  top: 46%;
  right: -12%;
  width: 63%;
  height: 121%;
  opacity: 0.5;
}
.radial-gradient.five {
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #100babdb 1%,
    rgb(2 2 15 / 0%) 100%
  );
  position: absolute;
  top: 46%;
  left: -12%;
  width: 63%;
  height: 121%;
  opacity: 0.5;
}

nav {
  margin: 0;
  display: flex;
  justify-content: end;
  padding: 14px 0 5px 0;
  z-index: 10;
}

nav ul {
  margin: 0;
  padding-right: 60px;
  font-size: 18px;
  z-index: 2;
}

nav ul li {
  list-style-type: none;
}

nav ul li svg {
  margin-right: 13px;
  margin-top: 2px;
}

.menu {
  /* height: 100%; */
  height: 95%;
  width: 100%;
  background: #a1a1a117;
  overflow-y: scroll;
}

.menu_modal {
  height: 100%;
  width: 26%;
  /* overflow-y: scroll; */
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.flex-center {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  /* max-width: 300px; */
  margin-right: auto;
  margin-left: auto;
  /* width: 500px; */
}

.popup_box_default {
  background: #25242470;
  padding: 50px 100px;
  box-shadow: 0px 8px 14px -13px #4e319d;
}

.login-form p {
  margin: 0 0 9px 0;
  font-weight: 300;
  font-size: 14px;
}

.login-form p span {
  font-size: 14px;
}

.login-form p span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.login-form input {
  margin-bottom: 10px;
  width: 200px;
  padding: 5px;
  font-size: 16px;
}

.text-container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 21px;
}

.text-container h2 {
  margin-bottom: 0px;
}

.video-title {
  padding: 10px 0px 10px 40px;
  /* border-bottom: 1px solid white; */
  border-bottom: 1px solid #01596b;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.video-title:hover {
  background: #5c656d;
  cursor: pointer;
}

.video-panel {
  height: 100%;
  width: 74%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 1.24%;
}

.video_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97%;
  height: 95%;
  background: #a1a1a117;
  position: relative;
}

.video {
  border-radius: 3px;
  width: 96%;
  height: 87%;
  box-shadow: 0 6px 30px -2px #0000004a;
  position: relative;
  object-fit: cover;
}

.single_video_wrapper {
  display: flex;
  width: 300px;
  height: 300px;
  margin: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  width: max-content;
  background: grey;
  /* border-radius: 50px; */
  border-radius: 25px;
  cursor: pointer;
  overflow: hidden;
}

.single_video_wrapper h2 {
  position: absolute;
  bottom: 0;
  margin-bottom: 7px;
  background: #000000c7;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 5px black;
}

.video_owned_by_user {
  /* border-radius: 50px; */
  border-radius: 25px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  pointer-events: none;
}

.play_button_circle {
  border: 1px solid black;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #01596bc7;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s linear;
  box-shadow: 0 0 69px -13px #000000;
}

.play_button_circle:hover {
  transform: scale(1.1);
}

.play_button {
  position: relative;
  font-size: 48px;
  left: 4px;
}

.video_overlay {
  width: 96%;
  border-radius: 26px;
  height: 87.4%;
  position: absolute;
}

.video_overlay::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 1px;
  left: 0px;
  right: 0px;
  background: #1b1b1bb0;
  z-index: 2;
}

.password-toggle {
  position: absolute;
  top: 21%;
  right: 5%;
}

.password-input-container {
  position: relative;
}

.back_button:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}

div.emailVerificationSplash {
  /* padding: 50px 0px 50px 80px; */
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
}

.emailVerificationSplash h2 {
  margin-bottom: 0px;
  font-size: 32px;
  margin-top: 0;
  width: fit-content;
  padding: 0;
}
.emailVerificationSplash p {
  margin-bottom: 26px;
  margin-top: 12px;
  max-width: 73%;
  width: fit-content;
}
.emailVerificationSplash div span {
  /* color: #3e3ed8; */
  /* color: #ff8181; */
  color: #bebbff;
  text-decoration: underline;
  cursor: pointer;
  transition: transform 0.1s linear;
}

.toast-resend_link-span {
  color: #5651b4;
  text-decoration: underline;
  cursor: pointer;
  transition: transform 0.1s linear;
}

.emailVerificationSplash div span:hover {
  transform: scale(1.05);
}

.emailVerificationSplash div {
  width: 373px;
  padding: 0;
}

.emailVerificationSplash div button {
  margin-left: 50px;
  cursor: pointer;
  padding: 5px 5px;
  border-color: #737391;
  border-radius: 3px;
  background: #484854;
}

.alert_icon {
  color: #f4b313;
}

.go2072408551 {
  max-width: none;
}

.main_app_nav {
  width: 100%;
  height: 11%;
  background: #a1a1a117;
  box-shadow: 0px 8px 14px -13px #4e319d;
  position: absolute;
  padding: 0;
  border-bottom: 1px solid #404040;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.factory_logo {
  color: grey;
  font-size: 48px;
  margin-left: 30px;
}

.factory_logo:hover {
  cursor: pointer;
}

.main_app_nav a {
  margin-right: 30px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: transition 0.3s linear;
}

.user_icon_circle {
  margin-right: 30px;
  cursor: pointer;
  background: #01596b;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 5;
}

.user_icon_circle:hover {
  cursor: pointer;
}

.user_icon {
  color: #f1f1f1;
  font-size: 24px;
}

.user_icon:hover {
  cursor: pointer;
}

#checkout div iframe {
  height: 100vh !important;
  transition: height 0.1s !important;
}

.CTA_buttons {
  position: absolute;
}

.CTA_container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  /* border: 3px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.CTA_button_wrapper {
  position: absolute;
  bottom: 31%;
}

.CTA_button_wrapper ul li {
  list-style: none;
  width: 200px;
  cursor: pointer;
  transition: transform 0.15s linear;
}

.CTA_button_wrapper ul li a {
  text-decoration: none;
  background: #01596b;
  padding: 5px 22px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  color: #f1f1f1;
  display: inline-block;
  transition: transform 0.15s linear;
}

.CTA_button_wrapper ul li a:hover {
  transform: scale(1.02);
}

.CTA_button_wrapper ul {
  display: flex;
  width: 450px;
  justify-content: space-between;
}

.CTA_button_wrapper ul li:hover {
  transform: scale(1.02);
}

.lock_icon {
  font-size: 48px;
  color: #535669;
}

.admin_nav {
  z-index: 3;
  position: absolute;
  top: 2px;
  right: 2%;
  background: #01596b;
  border-radius: 3px;
  padding-top: 5px;
  transition: transform 0.2s linear;
}

.admin_nav:hover {
  cursor: pointer;
}

/* .admin_nav {
  z-index: 3;
  position: absolute;
  bottom: -137px;
  right: 1.9%;
  background: #01596b;
  border-radius: 3px;
  padding-top: 5px;
  transition: transform 0.2s linear;
} */

.admin_nav ul {
  padding-right: 85px;
  padding-left: 20px;
}

.top_li {
  margin-top: 3px;
}

.admin_nav ul hr {
  width: 178%;
  position: relative;
  margin: 0;
  right: 0px;
  height: 1px;
  border: none;
  background: #ffffff4a;
}

.admin_nav ul li {
  text-align: left;
  margin: 7px 0;
  cursor: pointer;
}
.admin_nav ul li:hover {
  cursor: pointer;
}

.logout {
  /* border-top: 1px solid #f1f1f1; */
}

.your_videos_container,
.upload_form_container {
  width: 97.8vw;
  height: 95%;
  background: #a1a1a117;
  position: relative;
}

.your_videos_nav {
  height: 20px;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: end;
  padding: 14px 0 5px 0;
}

.upload_form_container {
}

.videos_flex_container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.video_box {
  width: 200px;
  height: 200px;
  margin: 50px;
  background-color: rgb(78, 78, 164);
}

.nav-right-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-right-container span {
  margin-right: 100px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s linear;
}

.nav-right-container span:hover {
  transform: scale(1.05);
}
