body {
  background: rgb(5 5 19);
  position: relative;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #52247569 1%,
    rgb(79 17 17 / 24%) 100%
  );
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.radial-gradient-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  z-index: 5;
  overflow: hidden;
}

.radial-gradient-dimension {
  width: 47%;
  height: 91%;
}

.radial-gradient.one {
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #0419c024 1%,
    rgb(2 2 15 / 0%) 100%
  );
  position: absolute;
  top: 50%;
  right: 37%;
}
.radial-gradient.two {
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #4c482d3b 1%,
    rgb(2 2 15 / 0%) 100%
  );

  position: absolute;
  top: -10%;
  left: 0%;
}
.radial-gradient.three {
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #4c2d433b 1%,
    rgb(2 2 15 / 0%) 100%
  );
  position: absolute;
  top: 10%;
  right: 10%;
}
.radial-gradient.four {
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #c6590a69 1%,
    rgb(2 2 15 / 0%) 100%
  );
  position: absolute;
  top: 46%;
  right: -12%;
  width: 63%;
  height: 121%;
  opacity: 0.5;
}

nav {
  margin: 0;
  display: flex;
  justify-content: end;
  padding: 14px 0 5px 0;
}

nav ul {
  margin: 0;
  padding-right: 60px;
}

nav ul li {
  list-style-type: none;
}

.menu {
  height: 100%;
  width: 26%;
  background: #403f3f;
  overflow-y: scroll;
}

.video-title {
  padding: 10px 0px 10px 40px;
  border-bottom: 1px solid white;
}

.video-title:hover {
  background: #5c656d;
  cursor: pointer;
}

.video-panel {
  height: 100%;
  width: 74%;
  background: #74747d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  border-radius: 3px;
  width: 30%;
  height: auto;
  box-shadow: 0 6px 30px -2px #0000004a;
}
