.link_hover:hover {
  cursor: pointer;
  text-decoration: underline;
}

.cursor_pointer {
  cursor: pointer;
}

.align_items_center {
  align-items: center;
}

.justify_content_center {
  justify-content: center;
}

.flex {
  display: flex;
}

.semi-bold {
  font-weight: 500;
}

.blue {
  color: blue;
}
/* just needed to add something to push new code to trigger a new deployment with new env variables
CI/CI is not setup yet */
